./home/.config/fcitx/*
./home/.config/qv2ray/*

./home/.config/.tmux/*
./home/.config/zinit/*
./home/.config/st/*
./home/.config/awesome/awesome-copycats/*
*~






home/.config/.vscode/settings.json
home/.config/awesome/.vscode/settings.json
home/.config/ibus/bus/
home/.config/ibus/rime/build/
home/.config/ibus/rime/luna_pinyin.userdb/
home/.ssh/known_hosts.old
home/.ssh/known_hosts
home/.config/ibus/rime
home/.ssh/.tmp.zshrc
home/.cargo/bin
home/.cargo/env
home/.ssh/authorized_keys
home/.config/lazygit/config.yml
home/.config/lazygit/state.yml
home/.ssh/podman
home/.ssh/podman.pub
home/.ssh/podman-machine-default.pub
home/.ssh/podman-machine-default
home/.cargo/registry
home/.cargo/git
home/.cargo/.crates.toml
home/.cargo/.crates2.json
home/.cargo/.package-cache
