home/.cargo/bin
home/.cargo/env
home/.cargo/.global-cache
home/.cargo/.package-cache
home/.cargo/.package-cache-mutate
home/.cargo/registry
home/.config/baloofilerc
home/.config/cava
home/.config/chromium
home/.config/Code
home/.config/com.alibabainc.dingtalk
home/.config/com.pot-app.desktop
home/.config/.DataReport_Lock
home/.config/dconf/user
home/.config/dinglive
home/.config/DingTalk
home/.config/dlv
home/.config/evolution/sources
home/.config/fcitx5/conf/cached_layouts
home/.config/fcitx/dbus
home/.config/filezilla
home/.config/google-chrome
home/.config/google-chrome-beta
home/.config/gopls/prompt
home/.config/go/telemetry/local
home/.config/.gsd-keyboard.settings-ported
home/.config/gtk-3.0/bookmarks
home/.config/home/x/.config/dinglive/logs/
home/.config/htop
home/.config/ibus/bus
home/.config/kactivitymanagerdrc
home/.config/karboncalligraphyrc
home/.config/kdeglobals
home/.config/kritadisplayrc
home/.config/kritarc
home/.config/lazygit/state.yml
home/.config/.locale_cfg
home/.config/pulse
home/.config/QtProject.conf
home/.config/.randomuuid_Lock
home/.config/simple-scan/state
home/.config/superfile/theme
home/.config/superfile/theme
home/.config/swappy/config
home/.config/wireshark
home/.emacs.d/%backup%~
home/.emacs.d/projects
home/.emacs.d/tramp
home/.git-credentials
home/.local/bin
home/.local/lib/hyde/pyutils/__pycache__
home/.local/lib/hyde/pyutils/wrapper/__pycache__
home/.local/share/applications
home/.local/share/baloo
home/.local/share/clash-verge
home/.local/share/CMakeTools
home/.local/share/com.pot-app.desktop/localstorage
home/.local/share/containers
home/.local/share/copyq
home/.local/share/epiphany
home/.local/share/evolution
home/.local/share/evolution/addressbook/system
home/.local/share/fcitx5/rime/build
home/.local/share/fcitx5/rime/installation.yaml
home/.local/share/fcitx5/rime/luna_pinyin.userdb
home/.local/share/fcitx5/rime/rime_ice.userdb
home/.local/share/fcitx5/rime/user.yaml
home/.local/share/fcitx5/themes/plasma
home/.local/share/flatpak
home/.local/share/flatpak/.changed
home/.local/share/flatpak/repo
home/.local/share/folks
home/.local/share/gk
home/.local/share/gnome-settings-daemon
home/.local/share/gnome-shell
home/.local/share/gvfs-metadata
home/.local/share/hyprland/lastNag
home/.local/share/icc
home/.local/share/io.github.clash-verge-rev.clash-verge-rev
home/.local/share/kactivitymanagerd/resources
home/.local/share/keyrings
home/.local/share/krita
home/.local/share/krita.log
home/.local/share/krita-sysinfo.log
home/.local/share/nautilus/tags
home/.local/share/netease-cloud-music-gtk4
home/.local/share/org.localsend.localsend_app
home/.local/share/pot
home/.local/share/recently-used.xbel
home/.local/share/superfile
home/.local/share/TelegramDesktop
home/.local/share/Trash
home/.local/share/vcpkg
home/.local/share/WeChat_Data
home/.local/share/wemeetapp
home/.local/share/zinit/completions
home/.local/share/zinit/plugins
home/.local/share/zinit/polaris/man/man1
home/.local/share/zinit/snippets
home/.local/share/zoxide
home/.local/state
home/.local/state/lazygit/state.yml
home/.ssh/authorized_keys
home/.ssh/id_ed25519
home/.ssh/id_ed25519.pub
home/.ssh/known_hosts
home/.ssh/known_hosts.old
.vscode
home/.config/Kingsoft
home/.local/share/Kingsoft
home/.config/kingsoft
home/.local/share/org.gnome.TextEditor
home/.config/GIMP/3.0
home/.config/totem
home/.local/share/grilo-plugins
