elpa
places
recentf
history
.cache
transient
var
.lsp-session-v1
.mc-lists.el
amx-items
tree-sitter
auto-save-list
.dap-breakpoints
eln-cache
url
forge-database.sqlite
persistent-scratch
persp-confs
.persistent-scratch
bookmarks
.emacs.desktop
.emacs.desktop.lock
tabsession.el
tldr
